[package]
name = "pixi-diff"
description = "Generate JSON diffs between pixi lockfiles"
version = "0.1.2"
edition = "2024"

[dependencies]
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = [
  "default",
  "env-filter",
] }
miette = "7.6.0"
clap = { version = "4.5.48", features = ["derive", "string"] }
clap-verbosity-flag = { version = "3.0.4", features = ["tracing"] }
serde_json = "1.0.145"
rattler_lock = { version = "0.25.0", default-features = false }
pixi_core = { git = "https://github.com/prefix-dev/pixi", tag = "v0.57.0" }
pixi_diff = { git = "https://github.com/prefix-dev/pixi", tag = "v0.57.0" }
pixi_manifest = { git = "https://github.com/prefix-dev/pixi", tag = "v0.57.0", features = [
  "rattler_lock",
] }

[patch.crates-io]
# https://github.com/astral-sh/uv/issues/6185
reqwest-middleware = { git = "https://github.com/astral-sh/reqwest-middleware", rev = "ad8b9d332d1773fde8b4cd008486de5973e0a3f8" }
reqwest-retry = { git = "https://github.com/astral-sh/reqwest-middleware", rev = "ad8b9d332d1773fde8b4cd008486de5973e0a3f8" }
